@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    background-color: #80ED99;
}

h1{
    background-color: #FF2626;
    color: white;
    text-align: center;
    margin-block-start: 0;
    padding: 1rem;

}

.container{
    display: flex;
    flex-direction: column;
   
    margin: auto;
    width: 50vh;
}
#txt-input{
    border-radius: 1rem;
    border: 5px solid #38A3A5;
}

#btn-translate{
    padding: 1rem 1.5rem;
    margin: 1rem;
    font-family: inherit;
    background-color: #57CC99;
    border: 1px solid #57CC99;
    border-radius: 1rem;
    
    color: white;
    font-size: 1rem;
    
}

p{
    color: white;
    font-size: larger;
}


#output{
    
    border-radius: 1rem;
    border: 5px solid #38A3A5;
    
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
}

footer{
    text-align: center;
    background-color: #FF2626;
    padding: 1rem;
    margin-block-start: 0;
    
}

h2{
color: white;
}
#about{
    max-width: 40%;
    margin: auto ;
    color: white;
}